.rectangulo {
    width: 100%; 
    height: 300px; 
    background-image:url('img/shutterstock_116403520.jpg');
    background-size: cover;
    background-position: 60% 25%;
}
row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 25%;
    width: 25%;
}
card {
border: lightblue;
border-radius: 0px;
}